.header {
    background-color: rgba(245, 245, 245, 1);
    box-shadow: 0 10px 100px rgba(0, 0, 0, .1);
    height: 6rem;
    color: #434343;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    user-select: none;
    position: fixed;
    width: 100vw;
    z-index: 0;
    box-shadow: 0 10px 100px rgba(0, 0, 0, .1);
    padding-right: 5rem;
}

.header h1 {
    color: #FFFFFF;
    /* Texto branco no header */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    line-height: 60px;
    /* Centraliza o texto verticalmente na altura do header */
}
.linksMobile span a:hover,.linksMobile a:hover  {
    color: rgba(245, 245, 245, 1);
}
.logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 15rem;
    justify-content: space-between;
    cursor: pointer;
    height: 100%;
    will-change: auto;
    transition: all 300ms;
    user-select: none;
}

.logo h3 {
    font-weight: 600;
}

.logo h3:hover {
    opacity: 1;
}

.logoContainer {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    max-width: 4rem;
    max-height: 4rem;
    will-change: auto;
    transition: all 300ms;
    border: solid 4px transparent;
    user-select: none;
}

.logoContainer img {

    width: 100%;
    height: 100%;
    user-select: none;
}

.logoContainer:active {
    border: solid 4px #A1FFCE;
    user-select: none;
}

.logo span {
    border-bottom: 8px solid transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: auto;
    transition: all 300ms;
}

.logo span:hover {

    border-bottom: 8px solid #A1FFCE;
}

.logo span:active {
    padding-top: 10px;
    border-bottom: 8px solid #A1FFCE;
}

.containerLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.links {
    width: 7rem;
    margin: 0 1rem;
    border-bottom: 8px solid transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: auto;
    transition: all 300ms;
    cursor: pointer;
}
.links a {
    color: #434343;
}
.linksMobile a {
    color:rgba(245, 245, 245, 1);
}

.links:hover {
    border-bottom: 8px solid #A1FFCE;
    opacity: 1;

}

.links:active {
    padding-top: 10px;
    border-bottom: 8px solid #A1FFCE;
}

.containerLinksMoblile {
    display: none;
    justify-content: center;
    align-items: center;
    will-change: auto;
    transition: all 300ms;
    font-size: 1.5rem;
    height: 100%;
    border-bottom: 8px solid transparent;
    user-select: none;
}

.containerLinksMoblile i {
    cursor: pointer;
}

.containerLinksMoblile:active {
    padding-top: 10px;
}

.moblileMenu {
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    will-change: auto;
    transition: all 300ms;
    background-color: #434343;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 6rem;
    transform: translate3d(-100%, 0, 0);
    position: fixed;
}


.active {
    will-change: auto;
    transition: all 300ms;
    z-index: 15;
    opacity: 1;
    top: 6rem;
    transform: translate3d(0, 0, 0);
    position: fixed;
    overflow: hidden;
}

.moblileMenu hr {
    width: 100%;
    color: rgba(245, 245, 245, 1);
    margin: 0;
}

.moblileMenu div {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2rem;
    cursor: pointer;
    will-change: auto;
    transition: all 400ms;
    user-select: none;
    padding-top: 10px;
}

.moblileMenu div:active {
    background-color: rgba(245, 245, 245, 1);
    color: #434343;
}

.whatsIcon {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    will-change: auto;
    transition: all 400ms;
    cursor: pointer;
}

.whatsIcon img {
    width: 100%;
    height: 100%;
    user-select: none;
}

.whatsIcon:active {
    bottom: 35px;
    filter: brightness(2);
}


@media only screen and (max-width: 850px) {
    .containerLinks {
        display: none;
    }

    .containerLinksMoblile {
        display: flex;
    }

    .header {
        padding:0;
        justify-content: space-between;
        padding-right: 50px;
        max-width: 100vw;
        box-sizing: border-box;
    }

    .logo {
        width: auto;
    }
}